<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vueBasicoTaller</title>
    <script src="app.js" type="module"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app" class="container">
        <button v-if="lista==null" @click="crearObjeto">Crear Objeto</button>

        <form v-else>
            <div>
                <input type="text" v-model="nombre" ><label> Ingrese el nombre</label><br>
                <input type="number" pattern="[0-9]" v-model="edad"><label> Ingrese su edad</label><br>
            </div>
            <div>
                
                <button name="anadirFin" @click.prevent="anadirFin" >Añadir al inicio</button>
                <button name="eliminar" @click.prevent="eliminar">Eliminar Primero</button>
                <button name="eliminarDos" @click.prevent="eliminarDos">Eliminar Ultimo</button>
                <button name="añadir" @click.prevent="añadir">Añadir al final</button>
                <button v-show="(Object.values(lista).length)? true:false">Eliminar Objeto</button>
                <input type="number" v-model="num"><button @click.prevent="eliminarSolo(num)">Eliminar por
                    indice</button>
                <button @click.prevent="mape">Map</button>
                

            </div>




            <div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <td>Indice</td>
                                <td>Nombre</td>
                                <td>Edad</td>
                            <tr v-for="(edades,id) in lista">
                                <td> 
                                    {{id}}
                                </td>
                                <td >
                                    {{edades.name}}
                                </td>
                                <td>
                                    {{edades.age}}
                                </td>
                            </tr>
                            </tr>
                        </thead>
                    </table>
                    <div class="mapDiv"v-for="(mapeos, id) of mapeo">{{id}} {{mapeos.name}}  {{mapeos.age}}</div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>